# Approach 1:
# export DEVENV_STATE=.devman/.devenv
# use devenv .devman
# Approach 2:
export DIRENV_WARN_TIMEOUT=20s
export DEVENV_ROOT="$PWD/.devman"
export DEVENV_DOTFILE="$DEVENV_ROOT/.devenv"
cd "$DEVENV_ROOT"
echo $PWD
eval "$(devenv direnvrc)"
use devenv
# use devenv .devman
